absl-py==1.3.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
amqp==5.1.1
anyio==3.6.2
asgiref==3.5.2
aspose-words==23.4.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
auto-py-to-exe==2.34.0
autopep8==1.7.0
beautifulsoup4==4.11.2
billiard==3.6.4.0
bleach==6.0.0
boto3==1.26.102
botocore==1.29.102
bottle==0.12.25
bottle-websocket==0.2.9
build==0.10.0
cachetools==5.2.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
comtypes==1.1.14
configobj==5.0.8
configparser==5.3.0
constants==0.6.0
contourpy==1.0.6
# Editable install with no version control (county==0.0.3)
-e c:\users\amal\documents\county
cryptography==38.0.1
cycler==0.11.0
decorator==4.4.2
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.4
distro==1.8.0
dj-database-url==0.5.0
Django==4.0.8
django-allauth==0.51.0
django-appconf==1.0.5
django-bootstrap-modal-forms==2.2.0
django-cors-headers==3.13.0
django-cropperjs==0.0.5
django-decouple==2.1
django-heroku==0.3.1
django-image-cropping==1.7
django-ipware==4.0.2
django-otp==1.1.3
django-otp-twilio==1.0.1
django-paypal==2.0
django-phonenumber-field==7.0.0
django-ratelimit==4.0.0
django-rest-framework==0.1.0
django-storages==1.13.2
django-twilio==0.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docutils==0.19
docx==0.2.4
docx2pdf==0.1.8
easy-thumbnails==2.8.3
Eel==0.16.0
etelemetry==0.3.0
exceptiongroup==1.1.1
facebook-sdk==3.1.0
facebookads==2.11.4
filelock==3.12.0
fitz==0.0.1.dev2
flatbuffers==22.10.26
fonttools==4.38.0
fpdf==1.7.2
frontend==0.0.3
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
geographiclib==2.0
geopy==2.3.0
gevent==22.10.2
gevent-websocket==0.10.1
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-vision==3.4.1
google-pasta==0.2.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
grpcio==1.54.0
grpcio-status==1.54.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
httplib2==0.22.0
huepy==1.2.1
idna==3.4
imageio==2.26.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.0.0
include==0.2.2
iniconfig==2.0.0
instabot==0.117.0
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
jmespath==1.0.1
keras==2.10.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
labelImg==1.8.6
libclang==14.0.6
looseversion==1.1.2
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.2
mdurl==0.1.2
mock==5.0.1
more-itertools==9.0.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
mysql-connector-python==8.0.30
mysqlclient==2.1.1
networkx==3.1
ngrok==0.8.0
nibabel==5.1.0
nipype==1.8.6
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.7
opencv-python==4.6.0.66
opt-einsum==3.3.0
package-name==0.1
packaging==23.1
pandas==2.0.1
pdfkit==1.0.0
pefile==2022.5.30
phonenumbers==8.12.56
Pillow==9.2.0
pkginfo==1.9.6
platformdirs==2.5.2
pluggy==1.0.0
proglog==0.1.10
progressbar==2.5
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==4.22.4
prov==2.0.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.9.1
pycparser==2.21
pydot==1.4.2
pydub==0.25.1
Pygments==2.14.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2022.15
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==3.0.9
pypdf==3.5.1
PyPDF2==3.0.1
PyPDF4==1.27.0
pypiwin32==223
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyRect==0.2.0
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.2.2
python-bitcoinrpc==1.0
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
python-docx-replace==0.4.3
python-magic-bin==0.4.14
Python-Rest-Framework==0.3.14
python3-openid==3.2.0
pyttsx==1.1
pyttsx3==2.90
pytz==2023.3
pywin32==304
pywin32-ctypes==0.2.0
PyWinCtl==0.0.38
pyxnat==1.5
PyYAML==6.0
ratelimit==2.2.1
razorpay==1.3.0
rdflib==6.3.2
readme-renderer==37.3
reportlab==3.6.11
requests==2.29.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.23.1
rfc3986==2.0.0
rich==13.3.1
rsa==4.9
s3transfer==0.6.0
schedule==1.1.0
scipy==1.10.1
simple-image-download==0.5
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.3.2.post1
SpeechRecognition==3.9.0
sqlparse==0.4.2
srt==3.5.2
starlette==0.26.1
Student==0.0.1
swapper==1.1.0
sympy==1.11.1
tabula-py==2.5.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
toml==0.10.2
tomli==2.0.1
torch==2.0.0
tqdm==4.65.0
traits==6.3.2
twilio==7.14.1
twine==4.0.2
types-cryptography==3.3.23.1
types-PyYAML==6.0.12.8
typing_extensions==4.4.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.15
utils==1.0.1
uvicorn==0.22.0
vine==5.0.0
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
vosk==0.3.45
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
whichcraft==0.6.1
whitenoise==6.2.0
widecity-billy==0.0.8
widecity-county==0.0.2
widecity-extracter==0.0.2
widecity-image-downloader==0.0.5
wikipedia==1.4.0
wkhtmltopdf==0.2
wrapt==1.14.1
yarl==1.9.2
zipp==3.12.0
zope.event==4.6
zope.interface==6.0
